{{! Dark social icons }}
<ul>
    <li class="socialIcons_link">
        <a class="fa fa-twitter" href="https://twitter.com/dunchunter"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-facebook" href="https://www.facebook.com/duncan.hunter.39"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-google-plus" href="https://plus.google.com/105158605262686055825"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/duncan-hunter-50a31619"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCKbHI9kgRCcFdH8FuhtxGbQ/feed"></a>
    </li>
    <li class="socialIcons_link">
        <a class="fa fa-rss" href="https://feeds.feedburner.com/duncanhunterblog"></a>
    </li>
</ul>